div.menu-sitemap-tree
{
	font-size:100%;
}

div.menu-sitemap-tree ul
{
	list-style-type: none;
	margin: 0;
	padding: 0 1em 0 0;
}

div.menu-sitemap-tree ul ul
{
	width: auto;
	margin:-0.75em 0 0 0;
	padding: 0 0 0 0.75em;
}

div.menu-sitemap-tree li
{
	margin: 0 0 -10px 0;
	padding:0;
}

div.menu-sitemap-tree li li
{
	margin: 0 0 -0.85em 0.5em;
	padding:0;
}

div.menu-sitemap-tree li.menu-close ul
{
	display: none;
}

div.menu-sitemap-tree div.item-text
{
	position:relative;
	top:-19px;
}

/*Icons*/
div.folder, div.page
{
	background-repeat:no-repeat;
	width:17px;
	height:17px;
	vertical-align:top;
}
div.folder, div.menu-sitemap-tree li.menu-close div.folder {
	background-position: 3px 5px;
	background-size: 70%;
}
div.folder {
	background-image:url(images/arrow-up.png);
}
div.menu-sitemap-tree li.menu-close div.folder {
	background-image:url(images/arrow-down.png);
}