@font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikLCGRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'RussoOne';
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@media (max-width: 375px) {
	.btn {
		padding: 10px 15px;
	}
}
@media (max-width: 575px) {
	.card-small {
		margin-top: 30px;
		min-height: auto;
	}
	.card-small a {
		min-height: auto;
	}
	.catalog-search .search-title-button {
		margin-right: 0;
	}
	.bx_catalog_tile .bx_catalog_tile_ul li {
		width: 50%;
	}
	.catalog-card {
		min-height: auto;
	}
	.bx-filter .bx-filter-popup-result.left {
		display: none !important;
	}
	.title-search-result {
		width: 100%;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.bx_catalog_tile .bx_catalog_tile_ul li {
		width: 33%;
	}
}
@media (max-width: 767px) {
	.bx-logo-block img {
		max-width: 100%;
		max-height: 45px;
		width: auto;
		height: auto;
	}
	.form-phone span {
		font-size: 13px;
		line-height: 19px;
	}
	.bx-footer-section {
		padding: 30px 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.footer__logo img {
		max-width: 100%;
		max-height: 45px;
		width: auto;
		height: auto;
	}
	.bx_catalog_tile .bx_catalog_tile_ul li {
		width: 25%;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.card-small h4 {
		margin-bottom: 20px;
	}
}
@media (max-width: 991px) {
	.product-item-detail-slider-images-container img {
		max-width: 50%;
	}
	.basket-items-list-header.basket-items-list-header-fixed, .basket-checkout-container.basket-checkout-container-fixed {
		position: static;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header__menu .bx-logo-block img {
		width: 85%;
	}
	.owl-theme .owl-dots {
		right: -110px;
	}
}
@media (max-width: 1199px) {
	body {
		font-size: 16px;
	}
	.header__menu a {
		font-size: 17px;
	}
	h3 {
		font-size: 22px;
	}
	h1, h2 {
		font-size: 37px;
	}
	h4 {
		font-size: 18px;
	}
	.bx-searchtitle .bx-input-group-btn button, .btn {
		font-size: 16px;
	}
	.card-text {
		font-size: 17px;
	}
	.card-body {
		padding: 15px !important;
	}
	.mb-6 {
		margin-bottom: 45px;
	}
	.mb-12 {
		margin-bottom: 75px;
	}
	.card-big {
		min-height: auto;
		padding: 20px;
	}
	
}
@media (min-width: 1200px) and (max-width: 1499px) {
	.owl-theme .owl-dots {
		right: -116px;
	}
}

